.site-footer {
  background-color: rgb(12, 12, 26);
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 3rem;
  font-family: "Helvetica Neue", sans-serif;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.3);
}
